
#SubmitFrankenContainer {
    color: rgb(52, 52, 52);
    font-family: "Open Sans","Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;

    text-align: start;
    margin: 2%;
}
